{%extends 'main.html'%}
{%block content%}
{%if page == 'login'%}
<div>
    <form method="POST" action="">
        {%csrf_token%}
        <label>用户名:</label>
        <input type="text" name="username" placeholder="输入账号" />
        <label>Password:</label>
        <input type="password" name="password" placeholder="输入密码" />
        <input type="submit" value="Login" />
    </form>
    <p>立刻注册</p>
    <a href="{%url 'register'%}">注册</a>
</div>

{%else%}

<div>
    <form method="POST" action="">
        {%csrf_token%}
        {{form.as_p}}
        <input type="submit" value="Register" />
    </form>
    <p>立刻登录</p>
<a href="{%url 'login'%}">登录</a>
</div>
{%endif%}
{%endblock content%}